@charset "UTF-8";@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);@import url(https://cdn.web.wsu.edu/designsystem/1.x/wsu-icons/dist/wsu-icons.bundle.css);@import url(https://unpkg.com/swiper@9.1.0/swiper-bundle.min.css);html {
    overflow-x: hidden
}

:root {
    --headerColor: #23282b;
    --crimson: #981e32;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; 
    background-color: var(--headerColor);
    z-index: 100;
}

.logo, .header-nav {
    
    padding: 10px; 
}

.university-title img {
    padding-left: 5px;
    display: block;
    height: 35px;
    margin: 0px;
}

.university-title {
    color: white;
    padding-left: 10px;
    font-size: 15px;
    margin: 0px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #808080;
}

article {
    grid-area: content;
    background-color: white;
    padding: 20px;
    z-index: 10;  /* Some value lower than the sidebar's z-index */
    position: relative;  /* Same as header and footer */
}

aside {
    grid-area: sidebar;
    position: fixed;  /* This is the key change */
}

.banner {
    grid-area: banner;
    display: flex;
    z-index: 120;
    position: relative;
    justify-content: space-between;
    background-color: var(--crimson);
}

.banner h1 {
    color: white;
    padding-left: 2vw;
}

footer {
    padding: 20px;
    grid-area: footer;
    background-color: var(--headerColor);
    z-index: 10;  /* Some value lower than the sidebar's z-index */
    position: relative; 
}

.wrapper {
    position: relative;
    display: grid;
    grid-gap: 0px; 
    grid-template-columns: 250px 2fr;
    grid-template-areas: 
      "header header"
      "sidebar banner"
      "sidebar content"
      "sidebar footer";
    height: 100vh; /* 100% of the viewport height */
    grid-template-rows: auto auto 1fr auto; 
    transition: 0.5s;
}

@media (max-width: 400px) {
    .wrapper {
      grid-template-columns: 4fr;
      grid-template-areas:
        "header"
        "banner"
        "content"
        "sidebar"
        "footer";
    }
}

aside a {
    color: #ffffff;  /* Text color for the links */
    text-decoration: none;  /* Remove underline */
    padding: 10px 15px;  /* Padding around each link */
    display: block;  /* Make each link take the full width of the li */
    background-color: black;  /* Background color for the links */
    border-radius: 1px;  /* Rounded corners for the links */
    transition: background-color 0.2s;  /* Smooth transition for hover effect */
}

aside a:hover {
    background-color: rgb(47, 47, 47);  /* Change background color on hover */
}

/* Styling the sidebar */
#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: black;
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 80;  
}

.sidebar-content {
    margin-top: 90px;  /* This value should be adjusted based on the height of the close button plus any desired spacing */
}

/* Styling the close button */
#closeSidebarBtn {
    position: relative;  /* Positioning inside the sidebar */
    top: 80px;  /* Margin from the top */
    left: 185px;  /* Margin from the right */
    border: none;  /* Remove border */
    padding: 20px 20px;  /* Padding around the text */
    background-color: transparent;
    font-size: 16px;  /* Font size */
    cursor: pointer;  /* Change cursor to pointer on hover */
    border-radius: 5px;  /* Rounded corners */
    display: grid;
    z-index: 1;
}

#sidebar.closed #closeSidebarBtn {
    display: none; /* or any other color to indicate a different state */
}

.wrapper.collapsed {
    grid-template-columns: 50px 3fr;  /* Adjust the 50px value as per the desired width of the collapsed sidebar */
}

/* Hide the content when the sidebar is closed */
#sidebar.closed .sidebar-content {
    display: none;
}

#sidebar.closed #openSidebarBtn{
    display: block;
}

#sidebar.closed:hover {
    background-color: rgb(47, 47, 47);
}

/* Positioning the menu button */
#openSidebarBtn {
    position: absolute;
    height: fit-content;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    padding: 10px;
    cursor: pointer;
}

#openSidebarBtn img {
    width: 25px;
    height: 96vh;
    padding-right: 5px;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%; /* This ensures that the body takes up the full height of the viewport */
    width: 100%; /* This ensures that the body takes up the full width of the viewport */
    background-color: var(--headerColor); /*header to be the same color*/
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    margin: 0;       /* Remove margin */
    padding: 0;      /* Remove padding */
}

.logo img {
    height: 80px; 
    width: auto; 
    display: block;  /* Make the image a block-level element */
    margin: 0;       /* Remove margin */
    padding: 0;      /* Remove padding */
}

article h1 {
    background-color: var(--crimson); 
    color: white; /* Making the text color white for better contrast */
    font-size: 28px;
    padding: 15px 0; /* Larger vertical padding, no horizontal padding */
    margin: 0; /* Removing all margins to ensure it spans the full width */
    display: block; /* Ensuring the background color spans the full width */
    text-align: center; /* Centering the text within the bar */
    width: 100%; /* Ensure the element takes the full width */
    box-sizing: border-box; /* This ensures padding doesn't add to the width */
}

.usertable {
    text-align: left;
    width: 100%;
}

th, td {
    border-bottom: 1px solid #ddd;
    padding: 2px;
}

.usertable tr:hover {
    background-color: lightgrey;
}

.button {
    width: 70px;
    font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	margin: 8px 20px 8px 30px;
	padding: 6px 6px;
	border: 1px solid gray;
    text-align: center;
    display: inline-block;
    border-radius: 4px;
    transition-duration: 0.2s;
    background-color: lightgray;
    color: black;
}

.button:hover {
    background-color: var(--crimson);
    color: white;
}

.menutable {
    text-align: left;
    width: 100%;
    border-collapse: collapse;
}

.menutable td {
    border-top: 1px solid lightgrey;
}