{% extends "base.html" %}
{% block title %} admin Page {% endblock %}

{% block content %}
<h2>this is admin page</h2>

<a href="{% url 'Admin:admin_create_user' %}">Create New User</a>
<br> 
<a href="{% url 'Admin:admin_delete_user' %}">Delete User</a>
<br>
<a href="{% url 'Admin:admin_view_reports' %}">Reports Menu</a>
<br>
<a href="{% url 'Admin:admin_create_class' %}">Create Class</a>
<br>
<a href="{% url 'Admin:admin_create_major' %}">Create Major</a>
<br>
<a href="{% url 'Admin:admin_view_tutors' %}">View Tutors</a>

{% endblock %}
