{% extends "base.html" %}
{% block title %} Admin Page {% endblock %}

{% block content %}

<h2>Classes</h2>
<div class="adminClasses-class-list">
    {% for a_class in classes %}
        <div class="adminClasses-class-item">
            <div class="adminClasses-class-text">
               {{ a_class.class_major.name }} {{ a_class.course_num }} - {{a_class.course_name}}
            </div>
            <div class="adminClasses-class-action">
                <a href="{% url 'Admin:delete_class' a_class.id %}" class="adminClasses-btn-danger">Delete</a>
            </div>
        </div>
    {% endfor %}
</div>

<a href="{% url 'Admin:admin_create_class' %}" class="adminClasses-btn">Create New Class</a>


{% endblock %}