{% extends "base.html" %}
{% block title %}Create Major{% endblock %}

{% block content %}

<div class="container">
    <h2>Create Major</h2>
    <form method="post" class="form-group">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn" style="margin-top: 20px;">Create Major</button>
    </form>
</div>

<style>
    .btn {
        font-size: 14px;
        display: inline-block;
        margin-top: 6px;
        padding: 6px 10px;
        background-color: #ba1234;
        color: white;
        transition: background-color 0.1s;
        text-decoration: none;
        border-radius: 3px;
        border: 2px solid black;
        cursor: pointer;
    }
    .btn:hover {
        background-color: rgba(128,128,128);
    }

</style>

{% endblock %}
