{% extends "base.html" %}
{% block title %}Create Major{% endblock %}

{% block content %}
<style>
    .btn {
        font-size: 14px;
        display: inline-block;
        margin-top: 6px;
        padding: 6px 10px;
        background-color: #007bff;
        color: white;
        text-decoration: none;
        border-radius: 3px;
        cursor: pointer;
    }
    .btn:hover {
        background-color: #0056b3;
    }

</style>
<div class="container">
    <h2>Create Major</h2>
    <form method="post" class="form-group">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn" style="margin-top: 20px;">Create Major</button>
    </form>
</div>
{% endblock %}
