{% extends "base.html" %}
{% block title %} admin Page {% endblock %}

{% block content %}
<style>
    .btn {
        font-size: 14px;
        display: inline-block;
        margin-top: 6px;
        padding: 6px 10px;
        background-color: #007bff;
        color: white;
        text-decoration: none;
        cursor: pointer;
    }
    .btn:hover {
        background-color: #0056b3;
    }

</style>
    <h2>Create Class</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn" style="margin-top: 60px;">Create Class</button>
    </form>


{% endblock %}