{% extends 'base.html' %}

{% block content %}

<h2>Create User</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn" style="margin-top: 60px;">Create User</button>
</form>

<style>
    .btn {
        font-size: 14px;
        display: inline-block;
        margin-top: 6px;
        padding: 6px 10px;
        background-color: #ba1234;
        color: white;
        text-decoration: none;
        border-radius: 3px;
        border: 2px solid black;
    }
    .btn:hover {
        background-color: rgba(128,128,128);
    }

</style>
{% endblock %}
