{% extends "base.html" %}
{% block title %} admin Page {% endblock %}

{% block content %}

    <h2>Generate Report</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p}}
        <button type="submit" class="btn">Print Report</button>
    </form>

    <style>
        .btn {
            font-size: 14px;
            display: inline-block;
            margin-top: 6px;
            padding: 6px 10px;
            background-color: #ba1234;
            color: white;
            text-decoration: none;
            border-radius: 3px;
            cursor: pointer;
        }
        .btn:hover {
            background-color: rgba(128,128,128);
        }
    
    </style>
{% endblock %}
