{% extends 'base.html' %}

{% block content %}
<div class="loginPage-login-page">
    <h2>Login</h2>

    {% if messages %}
    <div class="loginPage-messages">
        {% for message in messages %}
        <div{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}
    <form method="post" action="{% url 'home' %}" class="loginPage-login-form">

        {% csrf_token %}

        <div class="loginPage-form-group">
            <label for="username" class="loginPage-label">Username:</label>
            {{ form.username }}
            {{ form.username.errors }}
        </div>

        <div class="loginPage-form-group">
            <label for="password" class="loginPage-label">Password:</label>
            {{ form.password }}
            {{ form.password.errors }}
        </div>
        <a href="{% url 'password_reset_request' %}">Forgot Password?</a>
        <button type="submit" class="loginPage-submit-button">Login</button>
    </form>

    <br>
    

    <p>Don't have an account? <a href="{% url 'register' %}">Register</a></p>
</div>

{% endblock %}
