{% extends "base.html" %}
{% block title %}Create Major{% endblock %}

{% block content %}

<h2>Majors</h2>
<div class="majors-major-list">
    {% for major in majors %}
        <div class="majors-major-item">
            <div class="majors-major-text">
                {{ major.name }}
            </div>
            <div class="majors-major-action">
                <a href="{% url 'Admin:delete_major' major.id %}" class="majors-btn-danger">Delete</a>
            </div>
        </div>
    {% endfor %}
</div>
<a href="{% url 'Admin:admin_create_major' %}" class="majors-btn">Create Major</a>

{% endblock %}
