{% extends 'base.html' %}

{% block content %}

<div class="password-reset-request">
    <h2>Reset Your Password</h2>

    <form method="post">
        {% csrf_token %}
        {{ request_form.as_p }}
        <button type="submit" name="request" class="btn">Send Reset Code</button>
    </form>

    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <div class="{{ message.tags }}">{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        {{ verify_form.as_p }}
        <button type="submit" name="verify" class="btn">Verify Code</button>
    </form>


</div>

<style>
    .password-reset-request {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 20px;
    }

    .password-reset-request form {
        width: 300px;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        background-color: #fff;
        margin-bottom: 20px; 
    }

    .form-group {
        margin-bottom: 10px;
    }

    label {
        display: block;
        font-weight: bold;
    }

    input[type="text"]:focus,
    input[type="email"]:focus,
    input[type="password"]:focus {
        border-color: #ba1234;
        outline: none;
    }

    input[type="text"],
    input[type="password"],
    input[type="email"] {
        width: calc(100% - 20px);
        padding: 10px;
        margin-top: 5px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .btn {
        width: 50%;
        padding: 10px;
        background-color: #ba1234;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        display: block;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
    }

    .btn:hover {
        background-color: rgba(128,128,128);
    }

    .messages {
        text-align: center;
        margin-top: 0px;
        margin-bottom: 20px;
        width: 400px;
        padding: 1px;
        border-radius: 5px;
    }


</style>

{% endblock %}
