{% extends 'base.html' %}

{% block content %}
<div class="registerPage-register-page">
    <h2>Register</h2>

    {% if messages %}
    <div class="registerPage-messages">
        {% for message in messages %}
        <div{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}
    <form method="post" class="registerPage-register-form">

        {% csrf_token %}

        <div class="registerPage-form-group">
            <label for="first_name" class="registerPage-label">First Name:</label>
            {{ form.first_name }}
            {{ form.first_name.errors }}
        </div>

        <div class="registerPage-form-group">
            <label for="last_name" class="registerPage-label">Last Name:</label>
            {{ form.last_name }}
            {{ form.last_name.errors }}
        </div>

        <div class="registerPage-form-group">
            <label for="email" class="registerPage-label">Email:</label>
            {{ form.email }}
            {{ form.email.errors }}
        </div>

        <div class="registerPage-form-group">
            <label for="password1" class="registerPage-label">Password:</label>
            {{ form.password1 }}
            {{ form.password1.errors }}
        </div>

        <div class="registerPage-form-group">
            <label for="password2" class="registerPage-label">Confirm Password:</label>
            {{ form.password2 }}
            {{ form.password2.errors }}
        </div>

        <button type="submit" class="registerPage-submit-button">Register</button>
    </form>

    <br>

    <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
</div>
{% endblock %}
