{% extends "base.html" %}
{% block title %} Student Page {% endblock %}

{% block content %}

{% load static %}
{% if request.user.is_authenticated and request.user.is_student %}

    <h2>Rate your Tutors</h2>
    <div><a href="{% url 'Student:student_view_appointments' request.user.id %}" class="student-appointment-button button">Appointments</a></div>
    <form method="get" action="">
        <label for="student-search">Find a tutor:</label>
        <input type="text" name="search" id="student-search" value="{{ search_query|default_if_none:'' }}">

        <button type="submit" class="student-search-button">Search </button>

        <label for="student-major">Filter by Major:</label>
        <select name="major" id="student-major" class="student-pointer">
            <option value="">--Select a Major--</option>
            {% for major in majors %}
                <option value="{{ major.name }}" {% if selected_major == major.name %}selected{% endif %}>{{ major.name }}</option>
            {% endfor %}
        </select>
    </form>
    
    <br>

        <div class="student-tutor-grid">
            {% for tutor in tutors %}
            <div class="student-tutor-card">
                <div class="student-tutor-info">
                    {% if tutor.picture %}
                        <img src="{{ tutor.picture.url}}" alt="{{ tutor.user.first_name }} {{ tutor.user.last_name }}">
                    {% else %}
                        
                        <!-- this default image will display if there is no image uploaded  -->
                        <img src="{% static 'img/defaultProfile.jpg' %}" alt="Default Tutor Image">
                    {% endif %}
                    <h4>{{ tutor.user.first_name }} {{ tutor.user.last_name }}</h4>
                </div>
                <div class="student-tutor-details">
                    <p1> <b>Email:</b> {{ tutor.user.email }} </p1>
                    <br>
                    <p2> <b>Major:</b> {{ tutor.major }} </p2>
                    <br>
                    <p3> <b>Hours:</b><br> {% for shift in tutor.shifts.all %} {{ shift }}<br> {% endfor %} </p3>
                    <p>{{ tutor.description }}</p>
                </div>
                <div class="student-tutor-buttons">
                    <a href="{% url 'Student:student_view_tutors' tutor.user_id %}" class="student-action-button button">Schedule</a>
                </div>
            </div>
            {% endfor %}
        </div>


    {% else %}
        <p>You need to be a student and logged in to see the list of tutors.</p>
{% endif %}

{% endblock %}