{% extends "base.html" %}

{% block title %}Tutor Page{% endblock %}

{% block content %}

<div class="tutorPage-container">
    <h1 class="tutorPage-heading">Tutors</h1>
    <table class="tutorPage-table">
        <thead class="tutorPage-thead">
            <tr class="tutorPage-tr">
                <th class="tutorPage-th">Tutor ID</th>
                <th class="tutorPage-th">Tutor Name</th>
                <th class="tutorPage-th">Hours Tutored</th>
                <th class="tutorPage-th">Major</th>
            </tr>
        </thead>
        <tbody class="tutorPage-tbody">
            {% for tutor in tutors %}
            <tr class="tutorPage-tr">
                <td class="tutorPage-td">{{ tutor.user_id }}</td>
                <td class="tutorPage-td">{{ tutor.user.first_name }} {{ tutor.user.last_name }}</td>
                <td class="tutorPage-td">{{ tutor.hours_tutored }}</td>
                <td class="tutorPage-td"> {{ tutor.major }}</td>
                <td class="tutorPage-td">
                    <a href="{% url 'Admin:admin_edit_tutor_profile' tutor.user_id %}" class="tutorPage-edit-link">Edit Details</a>
                </td>
                <td class="tutorPage-td">
                    <a href="{% url 'Admin:admin_view_tutor_shifts' tutor.user_id %}" class="tutorPage-edit-shifts-link">Edit Shifts</a>
                </td>
                <td class="tutorPage-td">
                    <a href="{% url 'Admin:admin_tutor_called_out' tutor.user_id %}" class="tutorPage-edit-shifts-link">Disable Appointments For Today</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'Admin:admin_view' %}" class="tutorPage-back-link">Back to Dashboard</a>
</div>


{% endblock %}