{% extends "base.html" %}
{% block title %} Tutor Appointments {% endblock %}

{% block content %}

<div class="tutorAppointment-appointments-container">
    <h2>{{ tutor }}'s Appointments</h2>
    {% for appointment in appointments %}
    {% if appointment.student is not None %}
        <div class="tutorAppointment-appointment-card">
            <p>Appointment with <strong>{{ appointment.student }}</strong> from <strong>{{ appointment.start_time }}</strong> to <strong>{{ appointment.end_time }}</strong><br>
            Class: <strong>{{ appointment.tutored_class }}</strong><br>
            Notes: <strong>{{ appointment.description }}</strong></p>
            <div class="tutorAppointment-appointment-actions">
                <a href="{% url 'Tutor:cancel_appointment' appointment.id %}" class="tutorAppointment-btn tutorAppointment-btn-danger">Cancel</a>
                <a href="{% url 'Tutor:appointment_completed' appointment.id %}" class="tutorAppointment-btn tutorAppointment-btn-success">Complete Appointment</a>
            </div>
        </div>
    {% endif %}
    {% endfor %}
</div>


{% endblock %}