{% extends "base.html" %}
{% block title %} Admin Page {% endblock %}

{% block content %}

    {{tutor}}'s Appointments<br><br>
    {% for appointment in appointments %}
        {% if appointment.student is not None %}
            Appointment with {{ appointment.student }} from {{appointment.start_time}} to {{appointment.end_time}}, Class: {{ appointment.tutored_class }}, Notes: {{ appointment.description }}
            <a href="{% url 'Tutor:cancel_appointment' appointment.id %}">Cancel</a><br>
        {% endif %}
    {% endfor %}
    


{% endblock %}